---
const { data } = Astro.props
---
<script>
    const heading = [...document.getElementsByClassName('heading')]
    const subheading = [...document.getElementsByClassName('subheading')]
    const headingLength = 25
    const subheadingLength = 70

    if(heading){
        heading.map(element => {
            if(element.textContent && element.textContent.length > headingLength){
                element.classList.add('slide')
            }
        });
    }
    if(subheading){
        subheading.map(element => {
            if(element.textContent && element.textContent.length > subheadingLength){
                element.classList.add('slide')
            }
        });
    }
</script>

<a href={`/${data.id}`}>
    <div class="container_heading" >    
        <h3 class="heading" >{data.heading}</h3>
        <h2 class="subheading" >{data.subheading}</h2>
    </div>
    <picture>
        <img src={data.image} alt={data.heading} >
    </picture>
</a>

<style>
    a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        border-radius: 300px;
        background: var(--primary-color);
        padding: 12px 16px;
    }
    .container_heading{
        width: 370px;
        height: 60px;
        overflow: hidden;
        padding-left: 5px;
    }
    picture{
        width: 200px;
        height: 60px;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 150px;
        object-fit: cover;
    }
    h3{
        white-space: nowrap;
        font-size: 2rem;
    }
    .slide:hover{
        animation: slide 10s;
    }

    @keyframes slide {
        0%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(-100%);
        }
    }
</style>